.toast {
  width: 350px;
  display: flex;
  min-height: 50px;
  position: relative;
  align-items: center;
  justify-content: center;
  border: none;
  opacity: 1;
  padding: 15px;
  overflow: hidden;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px rgb(69, 69, 69);

  transition: 0.2s;
  animation: fadeIn 0.75s;
}

.toast:hover {
  transition: 0.2s;
  transform: scale(0.95);
  box-shadow: 0px 0px 3px gray;
}

.success {
  background-color: #94f8ae;
  border-left: 5px solid #1ec049;
  color: #002c0b;
}

.success-after {
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #1ec049;
}

.warning {
  background-color: #eef894;
  border-left: 5px solid #b5c01e;
  color: #292c00;
}

.warning-after {
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #b5c01e;
}

.error {
  background-color: #f89494;
  border-left: 5px solid #c01e1e;
  color: #2c0000;
}

.error-after {
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #c01e1e;
}

.info {
  background-color: #94bcf8;
  border-left: 5px solid #1e5fc0;
  color: #00132c;  
}

.info-after {
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #1e5fc0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
